* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    font-family: "Montserrat Alternates", sans-serif;
}
h1 {
    max-width: 700px;
    text-align: center;
    margin: 10px;
    font-size: 45px;
}
h2 {
    max-width: 700px;
    text-align: center;
    margin: 10px;
}
h3 {
    max-width: 700px;
    text-align: center;
    margin: 10px;
    font-weight: normal;
}
p {
    max-width: 700px;
    text-align: center;
    margin: 10px;
}
a {
    max-width: 700px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
    transition: 0.25s ease-in-out;
    text-decoration: none;
    color: black;
}
button {
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 15px 30px 15px 30px;
    transition: 0.25s ease-in-out;
    cursor: pointer;
    margin: 10px;
}
img {
    margin: 10px;
    cursor: pointer;
}
section {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 50px 20px 50px 20px;
    width: 100%;
}
.page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 800px;
}
@media (max-width: 670px) {
    p {
        font-size: 15px;
    }
    a {
        font-size: 15px;
    }
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
}